.container {
    display: flex;
    justify-content: center;

    padding-left: 20px;
    padding-right: 20px;

    border-top: solid 1px;
    border-color: var(--color-main);
}

.button {
    width: 40%;
    height: 15vh;

    > a {
        text-decoration: none;
        color: inherit;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 20px;

            > span {
                text-align: center;
                margin-top: 10px;
                font-size: 14px; 
            }

            > svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    > a:focus {
        outline: 0px;
    }
}