
.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-main);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}