@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    color: rgb(75, 75, 75);
}

* {
    padding: 0px;
    margin: 0px;
}

a.active > div {
    filter: invert(73%) sepia(78%) saturate(3317%) hue-rotate(1deg) brightness(102%) contrast(111%);
}

:root {
    --color-accent: rgb(66, 133, 244);
    --color-main: rgb(255, 255, 255);
    --color-background: rgb(235, 235, 235);
    --color-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}