@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
body {
    font-family: "M PLUS Rounded 1c";
    font-weight: 500;
    color: var(--color-font-light);
}

* {
    padding: 0px;
    margin: 0px;
}

a.active > div {
    color: var(--color-accent);

    > svg {
        color: var(--color-accent);
    }
}

:root {
    --color-font-light: rgb(75, 75, 75);
    --color-font-dark: rgb(255, 255, 255);
    --color-accent: rgb(255, 166, 0);
    --color-warning: rgb(245, 172, 172);
    --color-success: rgb(102, 216, 108);
    --color-main: rgb(255, 255, 255);
    --color-background: rgb(230, 230, 230);
    --color-background-modal: rgba(0, 0, 0, 0.6);
    --color-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}