.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-background-modal);
    z-index: 2;
}

.container {
    background-color: var(--color-main);
    box-shadow: var(--color-shadow);
    border-radius: 6px;

    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;

    margin: auto;
    margin-top: 30vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    > span {
        font-weight: bold;
        font-size: 20px;
    }

    > button {
        margin-left: auto;
        border: 0px;
        background-color: rgba(0, 0, 0, 0);

        > svg {
            color: var(--color-font-light);
        }
    }

    > button:focus {
        outline: 0px;
    }
}

.body {
    padding-top: 10px;
    padding-bottom: 15px;

    > input {
        border: 0px;
        border-radius: 6px;
        background-color: var(--color-background);

        box-sizing: border-box;
        margin-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;

        height: 40px;
        width: 100%;

        font-size: 18px;
    }

    > input:focus {
        outline: 0px;
    }
}

.button {
    display: flex;
    justify-content: center;

    > button {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: var(--color-font-dark);
    
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    
        border: 0px;
        border-radius: 6px;
        background-color: var(--color-accent);
    
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
}

.errors {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

    > div {
        box-sizing: border-box;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        
        box-shadow: var(--color-shadow);
        background-color: var(--color-warning);
        border-radius: 6px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        color: rgb(148, 70, 70);
    }
}